@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

html {
    background-image: linear-gradient(#E2E2e2, #5BF154);
    height: 100%;
}

html,
body {
    margin: 0;
    padding:0;
}


a {
    text-decoration: none;
}

p {
    color: black;
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding:0;
    line-height: 1.6;
}

.top1 {
    font-size: 2em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.top2 {
    display: flex;
    justify-content: center;
}

.top2img {
    width: 54em;
}

@keyframes scroll-animation{
    0%{
      right: 0;
    }
    100%{
      right: -200px; /* 텍스트 width와 동일 */
    }
  }
  .scroll-text{
    width: 100%;
    overflow: hidden;
    margin-top: 1em;
  }
  .track{
    position: relative;
    width: 2800px;
    animation: scroll-animation 2s linear infinite;
  }
  .track p{
    float: left;
    width: 200px;
    font-size: 6em;
  }

.top3 {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    text-align: center;
    margin: 3em 0;
}

.top3 p {
    padding: 0.3em;
}

.top4 {
    font-size: 5em;
    text-align: center;
    margin-bottom: 1.5em;
}

.top4 p {
    border: 6px solid black;
    display: inline-block;
    padding: 0 0.5em;
}

.top5 {
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}

.nexttop {
    font-size: 2em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    z-index: 99;
}

.nexttop p {
    padding: 0.5em;
}

.firsttop {
    font-size: 4em;
    text-align: center;
    padding: 1em 1.2em 2em 1.2em;
    word-break: keep-all;
}

.firstbutton {
    font-size: 10em;
    text-align: center;
    margin-bottom: 2em;
}

.firstbutton p {
    border: 6px solid black;
    display: inline-block;
    padding: 0.7em 0.5em;
}

.이동안내 {
    font-size: 4em;
    text-align: center;
    padding-top: 1em;
}

.second-text {
    font-size: 1.5em;
    text-align: center;
    padding: 3em;
    word-break: keep-all;
}

.다음 {
    font-size: 10em;
    text-align: center;
}
.A-map {
    width: 60em;
}

.a-name {
    font-size: 15em;
    text-align: center;
}


.a-content img {
    width: 60em;
}

.a-content p {
    padding: 2em 3em;
    word-break: keep-all;
}
